
.modal-header {
  padding: 20px;
}

.modal-header-text {
  text-align: center;
  color: rgb(221, 81, 44);
}

.modal-content {
  text-align: center;
}

.modal-button {
  padding: 10px;
  margin: 25px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.modal-actions {
  display: flex;
  justify-content: center;
}

.modal-content-text {
  text-align: center;
  color: var(--color-graydark);
}
