
.icon-filter {
  color: white !important;
  background-color: var(--color-greenyellow) !important;
}

.drop-large {
  min-width: 190px;
  width: 100%;
}

.div-table-filter span {
  padding-right: 10px;
}
