
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  height: 100%;
}

:root {
  --color-graywhite: #f2f4f5;
  --color-graydark: #464646;
  --color-graylight: #e3dfd5;
  --color-greendark: #036e77;
  --color-aqua: #05a0b4;
  --color-aqualight: #daedf0;
  --color-greenyellow: #9aca40;
  --color-yellow: #f0c34f;
  --color-salmon: #f36664;
  --color-dark: #121212;
}

/* #root {
  height: 100%;
}

#main {
  background-color: white;
} */
